body {
  background-color: lightgrey;
}

h1 {
  color: darkred;
  text-align: center;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: #2d6760;
}

#header.header-scrolled {
  background: #1d443f;
  height: 40px;
  padding: 10px 0;
}

#header .logo h1 {
  float: left;
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}
@media (max-width: 770px) {
  #hero h1 {
    margin: 0;
    font-size: 20px;
  }
  #header .container {
    max-width: 720px;
  }
  #header #navBar {
    margin: 0;
  }
}
@media (max-width: 615px) {
  #header .logo h1 {
    display: none !important;
  }
  #header #navBar {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #sortable li {
    margin: 0 1px 1px 1px;
    padding: 0.2em;
    padding-left: 0.6em;
    font-size: 0.7em;
    height: 9px;
  }
}

#body {
  margin-top: 80px;
}

#navBar {
  float: right !important;
}
/*---------------------------------*/

table {
  border-collapse: collapse;
  float: left;
}

table,
th,
td {
  border: 1px solid black;
}
/* for drag-drop table */
.ui-sortable-handle:hover {
  cursor: s-resize;
}
.ui-deleteable-handle:hover {
  cursor: pointer;
}
.ui-selectable-handle:hover {
  cursor: pointer;
}
#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}
#sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  height: 18px;
}
#sortable li span {
  position: absolute;
  margin-left: -1.3em;
}

.row {
  max-height: 450px;
  border: 1px solid black;
  overflow: hidden;
  overflow-y: scroll;
  clear: left;
}
.col-lg-12 {
  max-height: 445px;
  border: 1px solid black;
  overflow: hidden;
  overflow-y: scroll;
  max-width: 50%;
  float: left;
}
